<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://upload-assets.vice.com/files/2016/09/19/1474322206hellohelios.gif?crop=1xw%3A0.5625xh%3Bcenter%2Ccenter&resize=650%3A*&output-quality=55"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Art</ion-card-subtitle>
      <ion-card-title>About art</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The art is amazing, is beautiful, the art expresses emotions .</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Types of art</ion-label>
    </ion-list-header>
    
    <ion-item href="https://www.decorarconarte.com/Cont-culturales/El-arte-expresion-simbolica">
      <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
      <ion-label>Symbol art</ion-label>
    </ion-item>

    <ion-item href="https://www.ecured.cu/Arte_cl%C3%A1sico">
      <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
      <ion-label>Classical art</ion-label>
    </ion-item>

    <ion-item href="https://www.ecured.cu/Arte_rom%C3%A1ntico">
      <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
      <ion-label>Romantic art</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


