<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="http://163.178.110.78/sites/default/files/TheoricalPh.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Physical</ion-card-subtitle>
        <ion-card-title>Welcome to horizon the universe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Physics is engine of everything that exists on universe, laws, amazing things that happen</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      
      <ion-list-header>
        <ion-label>Galaxy</ion-label>
      </ion-list-header>

      <ion-item href="https://i.pinimg.com/originals/8b/a4/8d/8ba48db13ca10021f9d14aa91a0d8cb1.gif">
        <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
        <ion-label>Black holes</ion-label>
      </ion-item>

      <ion-item href="https://www.abc.es/media/ciencia/2017/10/30/AdobeStock_173668487-kWXG-U211791698321ssH-620x400@abc.jpg">
        <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
        <ion-label>Worm holes</ion-label>
      </ion-item>

      <ion-item href="https://notasuniversales.files.wordpress.com/2018/05/gif-relatividad.gif">
        <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
        <ion-label>Relativity</ion-label>
      </ion-item>

      <ion-item href="https://www.guatemala.com/fotos/201706/giphy-downsized.gif">
        <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
        <ion-label>Asteroids</ion-label>
      </ion-item>

    </ion-list>
</ion-content>
